* {
  margin: 0;
}

body {
  background-color: #fcf8e8;
  font: 400 17px/29px Montserrat;
  margin: 0;
}

header {
  background-image: url(Assets/photo-1476480862126-209bfaa8edc8.jpg);
  background-size: cover;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  font-size: 25px;
  padding-top: 100px;
}

.social-media i {
  margin-left: 8px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
}

.portfolio {
  width: 100%;
  padding-left: 40px;
}

.portfolio h3 {
  font: 400 13px/15px Roboto;
}

.portfolio h3 span {
  font: Bold 13px/15px Roboto;
  color: #fcf8e8;
}


.portfolio h1 {
  font: Bold 40px/49px Montserrat;
}

.portfolio h2 {
  font: Bold 24px/29px Montserrat;
  color: #fcf8e8;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  margin-bottom: -50px;
}

.photo img {
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: 2px solid #df7861;
}

span.wave {
  animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;          /* Change to speed up or slow down */
  animation-iteration-count: 3;    /* Never stop waving :) */
  transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}

.introduction {
  padding: 60px;
}

.tech-knowledge {
  background-color: white;
  padding: 60px;
  text-align: center;
}

h4 {
  background-color: #df7861;
  color: white;
  width: fit-content;
  padding: 3px;
}

.project-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
padding: 20px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

article img {
  width: 100%;
  height: 200px;
}

article:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-header {
  font-weight: 700;
  color: #df7861;
}

.other-projecs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-projecs-container h3 {
  font: Bold 21px/25px Montserrat;
  color: #df7861;
  margin: 10px;
}

.thoughts {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.my-thoughts {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px;
}

.more-thoughts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
 }

 .skills {
   background-color: #fcf8e8;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
   text-align: center;
 }

 .skills h4 {
   width: 100%;
 }

 .skills-code {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
 }

 .skills-toolbox {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.skills-upcoming {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-more {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-more {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.for-more i {
  margin-left: 8px;
  border: 3px solid #df7861;
  border-radius: 50%;
  padding: 10px;
  color: #df7861;
}

footer {
  background-color: #df7861;
  text-align: center;
  padding: 20px;
}