body {
  font: 400 17px/29px Montserrat;
  margin: 0;
}

/* header styling */

header {
  background-image: url(Assets/photo-1476480862126-209bfaa8edc8.jpg);
  background-size: cover;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 25px;
}

.social-media i {
  margin-left: 8px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
}

.social-media a {
  text-decoration: none;
  color: white;
}

.social-media a:hover {
  color: #df7861;
}



/* text in header */

.portfolio h1 {
  font: Bold 40px/49px Montserrat;
  color: white;
  line-height: 90%;
}


.portfolio-name {
  font: 400 13px/15px Roboto;
}

.portfolio-first-last-name {
  font: Bold 13px/15px Roboto;
  color: #fcf8e8;
}

.portfolio-background-topic {
  font: Bold 24px/29px Montserrat;
  color: #fcf8e8;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -50px;
}

.photo img {
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: 4px solid #df7861;
  object-fit: cover;
}

/* section styling */

.color-section {
  background-color: #fcf8e8;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.color-section a {
  text-decoration: none;
  color: black;
}

.white-section {
  background-color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


/* h2 is used as main heading for each section */

.section-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-header h2 {
  background-color: #df7861;
  color: white;
  font: 700 25px Montserrat;
  width: fit-content;
  padding: 5px;
  align-self: center;
  margin-bottom: 25px;
}

/* h3 is used as second heading in the sections */

h3 {
  color: #df7861;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}




/* styling for first section (introduction) */

span.wave {
  animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;          /* Change to speed up or slow down */
  animation-iteration-count: 3;    /* Never stop waving :) */
  transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}


/* styling for project container */

.project-container {
  display: flex;
  flex-direction: column;
}

article img {
  width: 100%;
  height: 200px;
}

article:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-header {
  font-weight: 700;
  color: #df7861;
}

.hashtags {
 display: flex;
 flex-direction: row;
 margin-bottom: 20px;
 align-items: flex-start;
 width: 100%;
}

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: lightpink;
  height: fit-content;
  font-size: 8px;
  height: 15px;
  padding-left: 10px;
  padding-right: 10px;
  
}



/* styling for thoughts section */

.my-thoughts {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  margin: 0;
}

.heading-thoughts-desktop {
  display: none;
}

.my-thoughts a {
  text-decoration: none;
  color: black;
}


.my-thoughts h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 900;
  font-size: 20px;
}

.my-thoughts p {
  margin-top: 0;
}

.date {
  color: #df7861;
}



 /* Skills section */

 .skills-heading {
   color: #df7861;
   font: Bold 15px;
   margin-bottom: 0;
 }

 .skills {
   width: 40%;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   text-align: center;
 }

 /* For more section */

.for-more {
  background-color: white;
  text-align: center;
  padding: 20px; 
  color: #df7861;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.for-more i {
  font-size: 40px;
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border: 3px solid #df7861;
  border-radius: 50%;
  padding: 15px;
  color: #df7861;
}

.for-more a {
  text-decoration: none;
  color: #df7861;
}

.for-more a:hover {
 opacity: 0.7;
}

/* Footer with contact information */

footer {
  background-color: #df7861;
  text-align: center;
  padding: 20px;
}

footer h2 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

footer p {
  font-weight: 900;
  margin-bottom: 0;
}

footer a {
  color: black;
}


/* MEDIA QUERIES TABLET */

@media (min-width: 667px) { 

  header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
  }

  /* section styling */

.color-section {
  padding-left: 100px;
  padding-right: 100px;
}

.white-section {
  padding-left: 100px;
  padding-right: 100px;
}

.section-header h2 {
  margin-bottom: 40px;
 }


/* styling for project container */
.project-container {
  width: 70%;
}

/* styling for thoughts section */

.heading-thoughts-mobile {
  display: none;
}

.heading-thoughts-desktop {
  display: inline;
}

/* styling for thoughts section */

.my-thoughts img {
  object-fit: cover;
  height: 200px;
}

/* For more section */

.for-more {
  justify-content: space-around;
}



/* end of media qry tag for tablet */
}


/* MEDIA QUERIES DESKTOP */

@media (min-width: 1024px) {

header {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
  }

  /* text in header */

.portfolio-name {
  font: 400 20px Roboto;
}

.portfolio-first-last-name {
  font: Bold 20px Roboto;
}

.portfolio-topic {
  font: Bold 50px;
}

.portfolio-background-topic {
  font: Bold 30px Montserrat;
}

.photo img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #df7861;
}

/* section styling */

.color-section {
  padding-left: 300px;
  padding-right: 300px;
}

.white-section {
padding-left: 300px;
padding-right: 300px;
}

.section-header h2 {
 margin-bottom: 50px;
}

.wave {
  padding-top: 70px;
}

/* styling for project container */

.project-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.project-container article {
  width: 45%;
}

.other-projecs-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

.other-projecs-container article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* styling for thoughts section */

.my-thoughts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.my-thoughts article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-thoughts img {
  height: 500px;
}


 /* Skills section */
 
 .skills {
  width: 25%;
}

/* For more section */

.for-more {
  justify-content: center;
}

.for-more i {
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
}

.for-more p {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 11px;
}

  /* end of media qry tag for desktop */
 }